<h1>Sign up</h1>

<form action="<%= users_url %>" method="post">
  <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>"

  <label for="user_first_name">First name</label>
  <input type="text"
         id="user_first_name"
         name="user[first_name]"
         value="<%= @user.first_name %>"
         placeholder="First name">
  <br>

  <label for="user_last_name">Last name</label>
  <input type="text"
         id="user_last_name"
         name="user[last_name]"
         value="<%= @user.last_name %>"
         placeholder="Last name">
  <br>

  <label for="user_email">Email</label>
  <input type="text"
         id="user_email"
         name="user[email]"
         value="<%= @user.email %>"
         placeholder="Email">
  <br>

  <label for="user_password">Password</label>
  <input type="password"
         id="user_password"
         name="user[password]">
  <br>

  <input type="submit" value="Create user">
</form>
